html {
    scroll-behavior: smooth;
}
body {
  margin:0;
  padding:0;
}
section {
    height: 100vh;
}
.nav-header {
    background-color: red;
    width: 100%;
    height: 100px;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    top:0;
}
.nav-list {
    list-style: none;
}
.nav-list a {
    text-decoration: none;
    color: black;
}
.nav-list li {
    display: inline;
}
.home {
    background-color: aquamarine;
}

.home header {
  padding-top:200px;
  text-align: center;

}

.team-avatars {
  margin-top:150px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.team-avatars img {
  max-width: 200px;
  border-radius: 50%;
}
.about {
    background-color:blue;
}
.team {
    background-color: green;
}

.team article img {
    max-width: 200px;
    border-radius: 50%;
    
}
.profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.team article {
    width:45%;
}

.contact {
    background-color: purple;
}
