
html {
    scroll-behavior: smooth;
}
:root {
    --dark-colour-one: #373737;
    --dark-color-two: #C0B283;
    --light-color-one: #DCD0C0;
    --light-colour-two: #F4F4F4;
}
body {
  margin:0;
  padding:0;
  font-family:'Spectral', serif;
  font-size:1.3rem;
}
section {
    height: 100vh;
}

.company-name {
  margin:0;
  float:left;
  font-family:'Permanent Marker', cursive;
}
.company-name a {
    text-decoration: none;
    color: var(--light-colour-two)
}

.nav-header {
    align-items: center;
    background-color: var(--dark-colour-one);
    width: 100%;
    height: 80px;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    top:0;
}


section {
    padding-top: 110px;
}
.nav-list {
    list-style: none;
    display:grid;
    grid-auto-flow:column;
    text-transform: uppercase;
    margin-left:20vw;

}
.nav-list a {
    text-decoration: none;
    color: #F87984;

}
.nav-list li {
    display: inline;
}
.home, .team {
    background-color: var(--light-color-one);
}
.about, .contact {
    background-color: var(--lght-color-two);
}

.home header {
  text-align: center;

}

.team-avatars {
  margin-top:150px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.team-avatars img {
  max-width: 200px;
  border-radius: 50%;
}

.team article img {
    max-width: 200px;
    border-radius: 50%;

}
.profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.team article {
    width:45%;
}
